<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhatsApp</title>
    <link rel="icon" href="favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="styles.css" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <div class="whatsapp">
      <div class="heading">
        <div class="header-div">
          <img src="https://static.whatsapp.net/rsrc.php/v3/y7/r/DSxOAUB0raA.png" alt="">
          <p>nixon developer</p>
        </div>
        <div class="create-chat">
          <button class="button create-chat-button" id="scrollTrigger">
            <div class="button-box">
              <span class="button-elem">
                <svg
                  class="svgIcon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke="currentColor"
                  height=""
                  fill="none"
                  class="svg">
                  <line y2="19" y1="5" x2="12" x1="12"></line>
                  <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
              </span>
              <span class="button-elem">
                <svg viewBox="0 0 46 40">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                </svg>
              </span>
            </div>
          </button>
        </div>
      </div>
      <div class="chat-whatsapp">
        <% for(let chat of chats) { %>
        <div class="chat">
          <div class="chat-details">
            <p id="from"><%= chat.from %></p>
            <div class="form-details">
              <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button>edit</button>
            </form>
            <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
              <button>delete</button>
          </form>
            </div>
          </div>
          <div class="msg">
            <p><%= chat.msg %></p>
            <span id="date"
              ><%= chat.created_at.toString().split(" ")[4]%></span
            >
          </div>
        </div>
        <br />
        <p id="read-by">read by <%= chat.to %></p>
        <% } %>
      </div>
      <form class="form" id="form" method="POST" action="/chats">
        <div class="flex">
          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              name="from"
              required="" />
            <span>Your name</span>
          </label>

          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              name="to"
              required="" />
            <span>Receiver name</span>
          </label>
        </div>
        <div class="card">
          <div class="text-box">
            <div class="box-container">
              <textarea
                placeholder="Reply"
                name="msg"
                id="textInput"></textarea>
              <div>
                <div class="formatting">
                  <!-- bold -->
                  <button type="button" onclick="makeBold()">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="16"
                      width="16"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M5 6C5 4.58579 5 3.87868 5.43934 3.43934C5.87868 3 6.58579 3 8 3H12.5789C15.0206 3 17 5.01472 17 7.5C17 9.98528 15.0206 12 12.5789 12H5V6Z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"></path>
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M12.4286 12H13.6667C16.0599 12 18 14.0147 18 16.5C18 18.9853 16.0599 21 13.6667 21H8C6.58579 21 5.87868 21 5.43934 20.5607C5 20.1213 5 19.4142 5 18V12"></path>
                    </svg>
                  </button>
                  <!-- itlalic -->
                  <button type="button" onclick="makeItalic()">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="16"
                      width="16"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M12 4H19"></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M8 20L16 4"></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M5 20H12"></path>
                    </svg>
                  </button>
                  <!-- underline -->
                  <button type="button" onclick="makeUnderline()">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="16"
                      width="16"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M5.5 3V11.5C5.5 15.0899 8.41015 18 12 18C15.5899 18 18.5 15.0899 18.5 11.5V3"></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M3 21H21"></path>
                    </svg>
                  </button>
                  <!-- middle cut  -->
                  <button type="button" onclick="cutMiddle()">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="16"
                      width="16"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M4 12H20"></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M17.5 7.66667C17.5 5.08934 15.0376 3 12 3C8.96243 3 6.5 5.08934 6.5 7.66667C6.5 8.15279 6.55336 8.59783 6.6668 9M6 16.3333C6 18.9107 8.68629 21 12 21C15.3137 21 18 19.6667 18 16.3333C18 13.9404 16.9693 12.5782 1      <script>

                        </script>4.9079 12"></path>
                    </svg>
                  </button>
                  <!-- emoji  -->
                  <button type="button">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="16"
                      width="16"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        r="10"
                        cy="12"
                        cx="12"></circle>
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#707277"
                        d="M8 15C8.91212 16.2144 10.3643 17 12 17C13.6357 17 15.0879 16.2144 16 15"></path>
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="3"
                        stroke="#707277"
                        d="M8.00897 9L8 9M16 9L15.991 9"></path>
                    </svg>
                  </button>
                  <!-- send  -->
                  <button type="submit" class="send" title="Send">
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="18"
                      width="18"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#ffffff"
                        d="M12 5L12 20"></path>
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#ffffff"
                        d="M7 9L11.2929 4.70711C11.6262 4.37377 11.7929 4.20711 12 4.20711C12.2071 4.20711 12.3738 4.37377 12.7071 4.70711L17 9"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
